<nav class="skip-links has-text-centered">
	<ul class="show-links-on-focus">
		<li>
			<a class="clickable" [routerLink]="[]" fragment="step_title">
				{{ 'nav.skip_links.go_to_content' | translate }}
			</a>
		</li>
		<li *ngIf="optionnal_step">
			<a href="clickable" [routerLink]="[]" fragment="button_next_step">
				{{ 'nav.skip_links.skip_this_step' | translate }}
			</a>
		</li>
	</ul>
</nav>
