.home_link {
	border: none;

	h1 {
		font-size: 1.5rem;
		margin: 0;
		margin-bottom: 0.25em;
	}

	.logo_first,
	.logo_second {
		padding-left: 0;
		padding-right: 0;
	}

	.logo_first {
		color: $dark;
	}

	.logo_second {
		color: $logo_color_2;
	}

	.lang_label {
		grid-column: 1;
		grid-row: 2;
	}

	.lang_icon {
		grid-column: 1;
		grid-row: 1;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1ch;
	}

	.menu_icon {
		grid-column: 2;
		grid-row: 1;
		margin-left: auto;
		margin-right: auto;
	}

	.menu_label {
		grid-column: 2;
		grid-row: 2;
		font-size: 11px;
		padding-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	.legend {
		font-size: 14px;
		margin-left: 14px;
		color: $primary-light;
	}

	.legend_first {
		color: $legend_color;
		padding-right: 0;
		padding-left: 0;
	}

	.legend_second {
		color: $legend_color_2;
		padding-right: 0;
		padding-left: 0;
	}
}
