<footer class="bottom-step-buttons" role="footer">
	<div class="contained-in-main-column">
		<button
			*ngIf="display_previous_button"
			id="button_prev_step"
			class="button-previous is-secondary"
			[routerLink]="['/administration/step/' + previous_step_number]"
		>
			{{ 'nav.previous' | translate }}
		</button>
		<button
			*ngIf="display_next_button"
			id="button_next_step"
			class="button-next pull-right"
			[disabled]="next_is_disabled"
			[ngClass]="{ 'is-finish': is_finish_step, 'is-primary': !is_finish_step }"
			[routerLink]="['/administration/step/' + next_step_number]"
			(click)="runNextAction()"
		>
			{{ (is_finish_step ? 'nav.save' : 'nav.next') | translate }}
		</button>
	</div>
</footer>
